p {
    text-align: center;
    font-size: 400%;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0.07em 0.07em #454fbf;
}

pre {
    margin: auto;
    text-align: center;
    font-size: 9px;
    background-color: #000000;
    font-weight: bold;
    padding-top: 100px;
    --fs: 9px;
    width: 625px;
    height: 625px;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-device-width: 640px) {

    pre {
        font-size: 65%;
        padding-top: 150px;
        --fs: 4px;
    }

    p {
        display: none;
    }
}